<div class="container">
  <div class="menu-grid">
    <div class="menu-top">
      <h1>Eat Da Burger!</h1>
      <br>
    </div>
    <div class="menu-btm-left">
      <img class="swirl" src="../assets/img/swirls9.png">
      <h1>On Menu</h1>

      <ul>
        {{#each votedIn}}
          {{> burgers/burger-block}}
        {{/each}}
      </ul>
    </div>

    <div class="menu-btm-right">
      <img class="swirl" src="../assets/img/swirls9.png">
      <h1>Suggested</h1>
      <h3>Get 100 votes to be on the Menu!</h3>

      <ul>
        {{#each notVotedIn}}
          {{> burgers/burger-block}}
        {{/each}}
      </ul>
    </div>

    <div class="menu-left">
      <img class="swirl" src="../assets/img/swirls9.png">
      <h1>Recommend a Burger</h1>
      <br>
      <form class="create-form">
        <div class="form-group">
          <div class="input-holder">
          <label for="user">User Name: </label>
          <input type="text" id="user" name="name"><img class="txtFrm" src="assets/img/frm.png"></div>
        </div>

        <div class="form-group">
          <div class="input-holder">
          <label for="burg">Burger Name: </label>
          <input type="text" id="burg" name="name"><img class="txtFrm" src="assets/img/frm.png"></div>
        </div>

        <button class="myBtn" type="submit"><img class="imgBtn" src="assets/img/rbn-btn.png"><span>Recommend</span></button>
      </form>      
    </div>

    <div class="menu-right">
      <img src="../assets/img/burger.png">
    </div>
  </div>
</div>